# Empty Strings are ignored or equivalent to false
STEAMAPPBRANCH=unstable

# Sets the administrator username, otherwise admin will be used.
ADMINUSERNAME=ChessusCheater

# Sets or changes the admin password. Is mandatory at first startup or will fail. I recommend to remove it once the server is started because the server logs every argument in clear text (if doesn't cares, you can leave it).
ADMINPASSWORD=C@rnero1100

# Sets or changes server password. Is optional.
PASSWORD=Amigoes!123

# Sets or changes Remote Console(RCON) password. Must be secure.
RCONPASSWORD=C@rnero1100

# Shows the server on the in-game browser if true, Hides it if false. Keeps the setting in the setting file if unset (false at first start).
PUBLIC=False

# Sets or changes the servers name in the server browser. Keeps the setting in the setting file if unset.
DISPLAYNAME=PROJECT_ZOMBOID_TEST

# Set the folder where the data will be stored. By default the server stores the data in the Zomboid folder in home directory (/home/steam/Zomboid). Is recommended to store this data into a persistent volume to keep the server state.
# CACHEDIR=

# Enable the debug mode in server
DEBUG=False

# Force a server update on every start. This process can be slow if the image is old.
FORCEUPDATE=True

# Forcibly update the steamclient.so libraries in the pz-dedicated directory before starting the server. May help with Workshop item downloads. Do not set if everything works fine.
FORCESTEAMCLIENTSOUPDATE=True

# Set the interface IP where the server will listen. By default all the interfaces.
# IP=

# Initial memory allocation for the JVM (e.g., 2048m).
MIN_MEMORY=2048

# Maximum memory limit for the JVM (e.g., 4096m).
MAX_MEMORY=8192

# Amount of memory to use in the server JVM (e.g., 8096m). This variable is used as a fallback for both minimum and maximum memory if MIN_MEMORY and MAX_MEMORY are not defined.
MEMORY=2048

# Mod folders to use to load the game mods. Allowed options are workshop, steam, and mods. Options must be separated by comma, for example: workshop,steam,mods
MODFOLDERS=workshop,steam,mods

# Starts the server in NoSteam mode, allowing to non steam users to connect.
NOSTEAM=False

# Set the server port. By default 16261.
PORT=16261

# Set the server name, which allows you to have multiple server versions. Changing the name will create a new server data, so current progress will not be available. Also will not be lost, just reverting the server name change will load it again. NOTE: Don't use spaces or special characters or admin user will fail
SERVERNAME=PROJECT_ZOMBOID_TEST

# Set the new servers default preset. If not set, the default is apocalypse. Allowed options are Apocalypse, Beginner, Builder, FirstWeek, SixMonthsLater, Survival and Survivor.
SERVERPRESET=Apocalypse

# Replace the server preset by the one seted by the SERVERPRESET variable. By default false to avoid to replace custom configurations once the server has started.
# SERVERPRESETREPLACE=

# Performs a soft reset in the server. More info in the Soft Reset section.
SOFTRESET=False

# Sets the two additional ports required for steam to work. I guess that those ports are UDP, but it can be also TCP.
# STEAMPORT1=
# STEAMPORT2=

# Enables or disables the SteamVac protection in servFer
STEAMVAC=True

# Semicolon separated list of Workshop IDs to install to the server. Leaving this empty will clear any existing value!
# WORKSHOP_IDS=

# Semicolon separated list of Mod IDs to install to the server. NOTE - B42 changes the way mod IDs must be supplied (\mod1;\mod2 inside the servertest.ini file) when defining this variable, preceed each mod id with two backslashes (\) to escape the backslash into the ini file.
# MOD_IDS=

# When set to 1 or true, the container will NOT modify the Mods or WorkshopItems entries in the server INI. Use this if you manage mods/workshop items externally (for example via bind mounts or an external workshop manager). Default behavior (when unset or false) is for the entrypoint script to update Mods and WorkshopItems based on MOD_IDS/WORKSHOP_IDS.
# SELF_MANAGED_MODS=

# This env variable will set the container locales, which will be used by the pz server to set the language. Example (en_EN.UTF-8, es_ES.UTF-8...)
LANG=en_EN.UTF-8
